/* body { */
    /* font-family: 'Arial', sans-serif; */
    /* background-color: #e6f2ff; */
    /* margin: 0; */
    /* padding: 0; */
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 350px;
background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .login-card header {
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    color: #ffffff;
    padding: 20px 30px;
    text-align: center;
  }
  header h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}
  .login-card main {
    padding: 30px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .next-btn{
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    color: white;
  }
  .next-btn:disabled{
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    opacity: 50%;
    cursor: not-allowed;
  }

  .submit-btn{
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    color: white;
  }
  .submit-btn:disabled{
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    opacity: 50%;
    cursor: not-allowed;
  }
  
  .login-card footer {
    background-color: #e8e8e8;
    padding: 15px 30px;
    text-align: center;
  }
  
  .login-card footer a {
    color: #333;
    text-decoration: none;
  }
  
  .login-card footer a:hover {
    text-decoration: underline;
  }
  